name: Automation Test Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  automation-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        working-directory:  Deepesh/AutomationFramework
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Automation Tests
      run: |
        python -m pytest -v  tests/
